<h1><%= current_user.username %>'s Profile</h1>

<br />
<%= link_to 'View all gardens', user_gardens_path(@user) %>
<br />
<%= link_to 'Till new garden', new_user_garden_path(@user) %>
<br />
<%= link_to 'View all plants', plants_path %>
<br />
<%= link_to 'Tell us about a new plant', new_plant_path %>
<br />
<%= link_to 'Plant something in a garden', new_garden_plant_path %>
<br />
