<h1><%= current_user.username %>'s Profile</h1>

<br />
<%= button_to 'ðŸŒ±View all gardensðŸŒ±', user_gardens_path(@user), method: :get, class: 'btn' %>
<br />
<br />

<%= button_to 'ðŸƒTill new gardenðŸƒ', new_user_garden_path(@user), method: :get, class: 'btn' %>
<br />
<br />

<%= button_to 'ðŸª´View all plantsðŸª´', plants_path, method: :get, class: 'btn' %>
<br />
<br />

<%= button_to 'ðŸ“£Tell us about a new plantðŸ“£', new_plant_path, method: :get, class: 'btn' %>
<br />
<br />

<%= button_to 'ðŸ§¤Plant something in a gardenðŸ§¤', new_garden_plant_path, method: :get, class: 'btn' %>
<br />
<br />
