<h1><%= current_user.username %>'s Profile</h1>


My Gardens:
<ul>
<% current_user.gardens.each do |garden| %>
  <li> <%= link_to garden.name, garden %> </li>
<% end %>
</ul>
<%= link_to 'Till a new garden', new_garden_path %>
<br />
<br />
<br />


My Plants:
<ul>
<% current_user.plants.each do |plant| %>
  <li> <%= link_to plant.name, plant %> </li>
<% end %>
</ul>
<%= link_to 'Add a plant', new_plant_path %>
<br />
<br />
<%= link_to 'Add a plant to a garden', new_garden_plant_path %>

<br />
<br />
<br />
