 Plant something!
<%= form_with model: @garden_plant, local: true do |f| %>

  <%= render 'devise/shared/error_messages', object: @garden_plant %>


  <label>Select Garden:</label>
  <%= f.select :garden_id, options_from_collection_for_select(@gardens, :id, :name), prompt: 'Choose a Garden' %><br />

  <label>Select Plant:</label>
  <%= f.select :plant_id, options_from_collection_for_select(@plants, :id, :name), prompt: 'Choose a Plant' %><br />

  <label>Quantity of plant: <%= f.text_field :quantity %></label><br />


  <%= f.submit "Plant Something!" %>

<% end %>
