 Plant something!
<%= form_with model: @garden_plant, local: true do |f| %>

    <% if @garden_plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garden_plant.errors.count, "error") %> prohibited this plant from being planted:</h2>
      <ul>
        <% @garden_plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label>Select Garden:</label>
  <%= f.select :garden_id, options_from_collection_for_select(@gardens, :id, :name), prompt: 'Choose a Garden' %><br />

  <label>Select Plant:</label>
  <%= f.select :plant_id, options_from_collection_for_select(@plants, :id, :name), prompt: 'Choose a Plant' %><br />

  <label>Quantity of plant: <%= f.text_field :quantity %></label><br />


  <%= f.submit "Plant Something!" %>

<% end %>
