Tell us about the new garden bed!
<%= form_with model: [current_user, @garden], local: true do |f| %>

<%= render 'devise/shared/error_messages', object: @garden %>

  <label>Garden Name: <%= f.text_field :name %></label><br />

  <label>Location: <%= f.text_field :location %></label><br />

  <label>Notes: <%= f.text_area :notes, placeholder: "Add any notes about the garden bed..." %></label><br />

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Add Garden" %>

<% end %>
