Tell us about the new garden bed!
<%= form_with model: [current_user, @garden], local: true do |f| %>

  <% if @garden.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@garden.errors.count, "error") %> prohibited this garden from being saved:</h2>
      <ul>
        <% @garden.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <label>Garden Name: <%= f.text_field :name %></label><br />

  <label>Location: <%= f.text_field :location %></label><br />

  <label>Notes: <%= f.text_area :notes, placeholder: "Add any notes about the garden bed..." %></label><br />

  <%= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit "Add Garden" %>

<% end %>
