<h1><%= @garden.name %></h1>
<p> Location: <i><%= @garden.location %></i></p>
<h3>Plants you'll find here:</h3>
<ul>
  <% @garden.garden_plants.each do |gardenplant| %>
    <li><%= gardenplant.quantity %> <%= link_to gardenplant.plant.name, plant_path(gardenplant.plant) %> Planted on: <i> <%= gardenplant.formatted_plant_date %>  </i>
      <p> Last watered: <%= gardenplant.last_watered %> <%= button_to 'Water plant 💦', garden_plant_path(gardenplant), method: :patch, class: 'button-8' %>
      </p>
    </li>
   <% end %>
</ul>
